body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Fonts */
    --font-montserrat: Montserrat;
    
    /* font sizes */
    --font-size-21xl: 40px;
    
    /* Colors */
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
    --color-white: #fff;
    
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xl: 20px;
    
    /* Border radiuses */
    --br-xl: 20px;
    
    /* Figma Variables */
    
    /* Color Variables */
    --Background-Brand-Default: #2c2c2c;
    --Border-Brand-Default: #2c2c2c;
    
    /* Number Variables */
    --Stroke-Border: 1px;
    --Space-200: 8px;
    --Radius-200: 8px;
    --Space-300: 12px;
    
}

.background-red-icon {
    position: absolute;
    top: -13px;
    left: 0px;
    width: 1920px;
    height: 185px;
}
.background-black-icon {
    position: absolute;
    top: 172px;
    left: -8px;
    width: 1936px;
    height: 42px;
}
.srs-csc-131-1-icon {
    position: absolute;
    top: 9.48px;
    left: 768.14px;
    width: 367.3px;
    height: 309px;
    object-fit: cover;
}
.button {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--Radius-200);
    background-color: var(--Background-Brand-Default);
    border: var(--Stroke-Border) solid var(--Border-Brand-Default);
    box-sizing: border-box;
    overflow: hidden;
}
.account-button-for-admin-child {
    position: absolute;
    top: 48px;
    left: 15px;
    background-color: var(--color-white);
    width: 39px;
    height: 5px;
}
.account-button-for-admin-item {
    position: absolute;
    top: 32px;
    left: 15px;
    background-color: var(--color-white);
    width: 39px;
    height: 5px;
}
.account-button-for-admin-inner {
    position: absolute;
    top: 16px;
    left: 15px;
    background-color: var(--color-white);
    width: 39px;
    height: 5px;
}
.account-button-for-admin {
    position: absolute;
    top: 55px;
    left: 1817px;
    width: 70px;
    height: 70px;
}
.play-arrow-filled-icon {
    width: 33.7px;
    position: relative;
    height: 31.3px;
    object-fit: contain;
}
.text {
    position: relative;
    font-weight: 500;
}
.play-arrow-filled-parent {
    position: absolute;
    top: 48px;
    left: 65px;
    border-radius: 100px;
    background-color: #c93131;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xl) 62px var(--padding-xl) 21px;
    gap: 27px;
    cursor: pointer;
    text-align: left;
    color: var(--color-white);
}
.person-icon {
    position: absolute;
    top: 517px;
    left: -133px;
    width: 700px;
    height: 700px;
}
.icon {
    position: absolute;
    height: 66.67%;
    width: 66.67%;
    top: 16.67%;
    right: 16.67%;
    bottom: 16.67%;
    left: 16.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.person {
    position: absolute;
    top: 739px;
    left: 381px;
    width: 411px;
    height: 414px;
}
.tickets {
    width: 613px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    flex-shrink: 0;
}
.payroll-button {
    position: absolute;
    top: 689px;
    left: calc(50% - 450px);
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 900px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
}
.tickets1 {
    width: 613px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.mechanic-button {
    position: absolute;
    top: 553px;
    left: calc(50% - 450px);
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 900px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
}
.ticket-button {
    position: absolute;
    top: 417px;
    left: calc(50% - 450px);
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 900px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
}
.mechanic-statistics-main {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
}

