/* === Global Styles === */
* {
    margin: 0;
    line-height: normal;
  }

/* === Part Specific === */
.srs-csc-131-1-icon {
    position: absolute;
  	top: 0px;
  	left: 776px;
  	width: 367.3px;
  	height: 309px;
  	object-fit: contain;
}

.directions-car-icon {
    display: flex;
    width: 900px;
    height: 900px;
    top: 165px;
    left: 1095px;
    padding: 187.5px 112.5px 112.5px 112.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
