/* === Global Styles === */
* {
    margin: 0;
    line-height: normal;
  }

  /* === Part Specific === */
  .home-child {
    position: absolute;
  	top: -3px;
  	left: 0px;
  	background: linear-gradient(90deg, #631818, #c93131);
  	width: 1920px;
  	height: 185px;
}
.home-item {
    position: absolute;
    top: 1480.5px;
    left: 89.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1741px;
    height: 1px;
}
.home-inner {
    position: absolute;
    top: 152px;
    left: 0px;
    background-color: #211f1f;
    width: 1936px;
    height: 52px;
}
.homepage-pic-icon {
    position: absolute;
    top: 366px;
    left: -8px;
    width: 943px;
    height: 628px;
    object-fit: cover;
}
.srs-csc-131-2-icon {
    position: absolute;
    object-fit: contain;
    top: 0px;
    left: 33px;
    width: 367.3px;
    height: 309px;
    
}
.rectangle-div {
    position: absolute;
    top: 366px;
    left: -6px;
    background-color: #211f1f;
    width: 1936px;
    height: 10px;
}
.accountButton {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    box-sizing: border-box;
    overflow: hidden;
    
}
.person-icon {
    position: absolute;
    height: 75%;
    width: 75%;
    top: 12.5%;
    right: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.account-button-for-home-page {
    position: absolute;
    top: 47px;
    left: 1806px;
    width: 70px;
    height: 70px;
}
.oil-change {
    position: relative;
    font-weight: 500;
}
.oil-change-wrapper {
    position: absolute;
    top: 375px;
    left: 927px;
    background: linear-gradient(90deg, #d9d9d9, #fff);
    width: 992px;
    height: 154.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 52px 180px 52px 70px;
    box-sizing: border-box;
}
.tire-service-wrapper {
    position: absolute;
    top: 529px;
    left: 927px;
    background: linear-gradient(90deg, #fff, #d9d9d9);
    width: 992px;
    height: 154.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 52px 70px;
    box-sizing: border-box;
}
.diagnostic-repair-wrapper {
    position: absolute;
    top: 834px;
    left: 927px;
    background: linear-gradient(90deg, #fff, #d9d9d9);
    width: 992px;
    height: 154.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 52px 70px;
    box-sizing: border-box;
}
.regular-maintenance-wrapper {
    position: absolute;
    top: 682px;
    left: 927px;
    background: linear-gradient(90deg, #d9d9d9, #fff);
    width: 993px;
    height: 154.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 51px 70px;
    box-sizing: border-box;
}
.services {
    position: relative;
    font-weight: 600;
}
.services-wrapper {
    position: absolute;
    top: 253px;
    left: 644px;
    border-radius: 15px;
    background: linear-gradient(90deg, #741d1d, #da3737);
    width: 652px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    box-sizing: border-box;
    color: #fff;
}
.about-us-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.frame-div {
    position: absolute;
    top: 1032px;
    left: 33px;
    border-radius: 15px;
    background: linear-gradient(90deg, #741d1d, #da3737);
    width: 757px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    box-sizing: border-box;
    color: #fff;
}
.servicing-sacramento-since {
    position: absolute;
    top: 1102px;
    left: 33px;
    font-weight: 600;
    display: inline-block;
    width: 1740px;
    height: 310px;
}
.baa-button-child {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 100px;
    background-color: #fdd01f;
    z-index: 0;
}
.book-an-appointment {
    position: relative;
    font-weight: 600;
    z-index: 1;
}
.baa-button {
    position: absolute;
    top: 30px;
    left: 644px;
    width: 631px;
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 116px;
    box-sizing: border-box;
    gap: 0px;
    cursor: pointer;
    font-size: 30px;
}
.home-child1 {
    position: absolute;
    top: 984px;
    left: -9px;
    background-color: #211f1f;
    width: 1936px;
    height: 10px;
}
.home {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1618px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #000;
    font-family: Montserrat;
}

