
section {
    padding-top: 2px; /* Adds space above the <h2> */
}

h1 {
    color: #d73706;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #d73706;
    font-size: 20px;    
    margin-bottom: 20px;
    padding-top: 190px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {    
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d73706;
    color: rgb(246, 254, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #621d08;
}
